main, .container-md, .editor, .editor-container {
    width: 100%;
    height: 100%;;
}

.editor-header {
    background-color: #fff;
    padding: 15px 35px;
}

.editor-panel-item {
    padding: 7px 10px;
}

.editor-panel-item i:before {
    font-size: 20px;
    color: var(--gray);
}

.editor-panel-item:hover i:before {
    color: var(--accent-color-regular);
}

.editor-container {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.editor-menu {
    position: absolute;
    top:0;
    height: 100%;
    background-color: #fff;
    padding: 35px;
    transition: all 0.3s;
}

/* -------------------editor-media-------------------- */

.editor-media {
    left:0;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
}

.editor-media.open {
    transform: translateX(0%);
}

.editor-media .menu-open-button {
    right: -20px;
}

.editor-media-item {
    padding:30px 35px;
}

.editor-media-item:hover {
    background-color: var(--gray-light);
}

.editor-media-item i:before {
    font-size:36px;
}

/* -------------------editor-media-------------------- */

/* -------------------editor-layout-------------------- */

.editor-layout {
    flex: 0 0 50%;
    background-color: var(--accent-color-dark);
}

.editor-layout.landscape {
    flex: 0 0 70%;
}

.editor-layout.portrait {
    flex: 0 0 50%;
}

/* -------------------editor-layout-------------------- */

/* -------------------editor-context-------------------- */

.editor-context {
    transform: translateX(100%);
    right:0;
}

.editor-context.open {
    transform: translateX(0%);
}

.editor-context .btn {
    width:100%;
}

.editor-context .menu-open-button {
    left: -20px;
}

/* -------------------editor-context-------------------- */

.menu-open-button {
    position: absolute;
    top: 30px;
    padding: 6px 10px;
    border: 3px solid #fff;
    background-color: #fff;
    border-radius:50%;
    color: var(--gray);
    z-index: 100;
}
