.container, .row {
    height: 100%;
}

body {
    background-color: var(--accent-color-regular);
}

.form form {
    background-color: var(--white);
    padding: 40px 50px 30px 50px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 20%);
}

.background-left {
    background: url(/images/back.png?d7375925308ad34df701b6955f5927e8) no-repeat center center;
    background-size: contain;
}

.app-name {
    font-size: 42px;
    text-align: center;
    color: var(--accent-color-regular);
    font-weight: bold;
}

.form form h1 {
    font-size: 1.75rem;
    text-align: center;
}
