
body {
    background-color: var(--white);
}

.navbar {
    background-color: var(--black);
}

.navbar-brand img {
    margin-right:10px;
    width: 40px;
}

.dropdown-divider {
    margin: 0px;
}

main {
    padding: 100px 0px 50px !important;
}

.table>:not(caption)>*>* {
    padding: 1rem 0.5rem;
}

.table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.table tbody > tr {
    background-color: #fff;
    border-radius: 5px;
    height: 74px;
    max-height: 74px;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.table thead {
    font-size: 11px;
    color: var(--gray);
}

.table thead .table-col-chekbox, .table tbody .table-col-chekbox {
    width: 80px;
    min-width: 60px;
    text-align: center;
    position: relative;
}

.table tbody .table-name {
    min-width: 40%;
    text-align: left;
    font-weight: bold;
}

.table tbody .table-time {
    min-width: 40%;
    text-align: left;
    font-weight:lighter;
}

.table tbody .td-action {
    text-align: center;
    width: 60px;
}

.table tbody .table-action {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.table tbody .table-action .actions-container {
    color:var(--black) !important;
}

.table tbody .table-action .actions-container > i {
    font-size: 16px;
    line-height: 31px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.table tbody .table-action .actions-container:hover > i {
    background-color: #EEF2F6;
    border-radius: 20px;
    color: var(--accent-color-regular);
}

.table tbody ul.dropdown-menu {
    right: 50px;
    top: 10px;
    left: auto;
    text-align: left;
}

input[type="checkbox"] + label {
    justify-content: center;
}